.wrapper {
  height: 100vh;
  background-image: linear-gradient(
      to left,
      rgba(3, 6, 19, 0.95),
      rgba(8, 14, 39, 0.95)
    ),
    url(/images/background-image.jpg);
  background-size: cover;
  background-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  @include respond(tab-port) {
    margin: 0;
  }
  input {
    background: rgb(5, 0, 19);
    border: none;
    border-radius: 1rem;
  }
  h2 {
    display: inline-block;
    width: 5rem;
    background: #af1928;
    background-image: linear-gradient(to left, #af19288c, #af196b91);
    border-radius: 1rem;
    @include respond(sm-phone) {
      display: block;
    }
  }
}
